* {
  border: none;
  color: #fff;
  outline: none;
  text-decoration: none!important;
}
.btn_nav {
  background-color: #8358ff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  margin-left: 25px;
  padding: 10px 25px;
}

