<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">
      <img src="assets/img/logo.png" alt="" height="40" class="d-inline-block align-text-top">
    </a>
    <div *ngIf="userLogado" class="d-xs-block d-md-none ms-auto">
      <div class="d-flex">
        <div class="me-3">
          <img width="20px" src="assets/img/depositar.png" alt="Saldo"> {{ (userGame.saldoDeposito !== 0 ? userGame.saldoDeposito : 0)  | currency:'BRL'}}
        </div>
        <div class="me-2">
          <img width="18px" src="assets/img/money-bag.png" alt="Saldo"> {{ (userGame.saldoSaque !== 0 ? userGame.saldoSaque : 0) | currency:'BRL' }}
        </div>
      </div>
    </div>
    <button class="navbar-toggler" style="color: var(--bs-navbar-color);" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
      <ul class="navbar-nav">
        <ng-container *ngIf="userLogado">
          <li  class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/game">Jogar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/deposit">Depositar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/saque">Sacar</a>
          </li>
<!--           <li class="nav-item">
            <a class="nav-link" routerLink="/deposit">Histórico</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" style="cursor: pointer;">Sair</a>
          </li>
        </ng-container>
      </ul>
      <ul class="navbar-nav" *ngIf="!userLogado">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/authentication">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/authentication">Suporte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-md-none" routerLink="/authentication/register">Cadastrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-md-none" routerLink="/authentication">Login</a>
        </li>
      </ul>
      <div *ngIf="!userLogado" class="navbar-nav d-xs-none d-none d-md-block ms-auto">
        <a class="btn btn_nav ms-2" routerLink="/authentication">Logar</a>
        <a class="btn btn_nav ms-2" routerLink="/authentication/register">Cadastrar</a>
      </div>
    </div>
    <div *ngIf="userLogado" class="d-xs-none d-none d-md-block ms-auto">
      <div class="d-flex">
        <div class="me-5">
          <img width="20px" src="assets/img/depositar.png" alt="Saldo"> {{ (userGame.saldoDeposito !== 0 ? userGame.saldoDeposito : 0)  | currency:'BRL'}}
        </div>
        <div>
          <img width="18px" src="assets/img/money-bag.png" alt="Lucro"> {{ (userGame.saldoSaque !== 0 ? userGame.saldoSaque : 0) | currency:'BRL' }}
        </div>
      </div>
    </div>
  </div>
</nav>
