<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/img/logo.png" alt="" height="40" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" style="color: var(--bs-navbar-color);" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container p-0">
  <div class="d-flex justify-content-center golden">
    <div class="w-100 p-3 p-md-5 text-center text-white">
      <h1 class="text-uppercase">POLÍTICA DE PRIVACIDADE</h1>
      <div class="card">
        <div class="card-body">
          <div class="p-2 text-start">
            <p>
              Na Betbrazil, uma das nossas principais
              prioridades é a privacidade dos nossos clientes. Este documento de Política de
              Privacidade contém informações que são coletadas e processadas pela Betbrazil e como
              as usamos.
            </p>
            <p>
              Se você tiver dúvidas adicionais ou
              precisar de mais informações sobre nossa Política de Privacidade, entre em
              contato conosco pelo e-mail atendimento@betbrazil.com
            </p>
            <p>
              Esta Política de Privacidade se aplica às
              nossas atividades de processamento de dados e é válida para todos os nossos
              clientes em relação às informações que eles compartilharam com a Betbrazil. Esta
              política é aplicável a qualquer informação coletada online e offline.
            </p>

            <p>Consentimento</p>

            <p>
              Ao usar nossos serviços, você concorda com
              nossa Política de Privacidade e concorda com nossos termos.
            </p>

            <p>Informações que coletamos</p>

            <p>
              As informações pessoais solicitadas a você
              e os motivos pelos quais você é solicitado a fornecê-las serão esclarecidos no
              momento em que solicitarmos que você forneça suas informações pessoais.
            </p>

            <p>
              Se você entrar em contato com a Betbrazil
              diretamente, poderemos receber informações adicionais sobre você, como seu
              nome, endereço de e-mail, número de telefone, conteúdo da mensagem e/ou anexos
              que você nos enviar e qualquer outra informação que você decida fornecer.
            </p>

            <p>
              Quando você se registra em uma conta,
              podemos solicitar suas informações de contato, incluindo itens como nome, nome
              da empresa, endereço, endereço de e-mail e número de telefone.
            </p>

            <p>Como usamos suas informações</p>

            <p>Usamos as informações que coletamos devárias maneiras, incluindo:</p>

            <p>Fornecer, operar e manter nosso site.</p>

            <p>
              Melhorar, personalizar e expandir nosso site.
            </p>

            <p>
              Compreensão e analise de como você usa nosso site.
            </p>

            <p>
              Desenvolver novos produtos, serviços, recursos e funcionalidades.
            </p>

            <p>
              Comunicar-se com você, diretamente ou por
              meio de um de nossos parceiros, inclusive para atendimento ao cliente, para
              fornecer atualizações e outras informações relacionadas ao site e para fins
              promocionais e de marketing.
            </p>

            <p>Enviar-lhe e-mails.</p>

            <p>Encontre e evite fraudes.</p>

            <p>Cookies do site e Web Beacons</p>

            <p>
              Como qualquer outro site, o site Betbrazil usa
              'cookies'. Esses cookies são usados ​​para armazenar informações,
              incluindo as preferências dos visitantes e as páginas do site que o visitante
              acessou ou visitou. As informações são usadas para otimizar a experiência dos
              usuários, personalizando o conteúdo de nossa página da web com base no tipo de
              navegador dos visitantes e/ou outras informações.
            </p>

            <p>Políticas de privacidade de terceiros</p>

            <p>
              A Política de Privacidade da Betbrazil não se
              aplica a outros anunciantes ou sites. Assim, aconselhamos que consulte as
              respectivas Políticas de Privacidade desses servidores de anúncios de terceiros
              para obter informações mais detalhadas. Pode incluir suas práticas e instruções
              sobre como desativar determinadas opções.
            </p>

            <p>
              Você pode optar por desabilitar os cookies
              através das opções individuais do seu navegador. Para saber informações mais
              detalhadas sobre o gerenciamento de cookies com navegadores específicos, pode
              ser encontrada nos respectivos sites dos navegadores.
            </p>

            <p>Direitos de proteção de dados GDPR</p>

            <p>
              Gostaríamos de ter certeza de que você está
              totalmente ciente de todos os seus direitos de proteção de dados. Todo usuário
              tem direito ao seguinte:
            </p>

            <p>
              O direito de acesso – Você tem o direito de
              solicitar cópias de seus dados pessoais. Podemos cobrar uma pequena taxa por
              este serviço.
            </p>

            <p>
              O direito de retificação – Você tem o
              direito de solicitar que corrijamos qualquer informação que você acredite estar
              imprecisa. Você também tem o direito de solicitar que completemos as
              informações que você acredita estarem incompletas.
            </p>

            <p>
              O direito de apagar – Você tem o direito de
              solicitar que apaguemos seus dados pessoais, sob certas condições.
            </p>

            <p>
              O direito de restringir o processamento –
              Você tem o direito de solicitar que restrinjamos o processamento de seus dados
              pessoais, sob certas condições.
            </p>

            <p>
              O direito de se opor ao processamento –
              Você tem o direito de se opor ao nosso processamento de seus dados pessoais,
              sob certas condições.
            </p>

            <p>
              O direito à portabilidade de dados – Você
              tem o direito de solicitar que transfiramos os dados que coletamos para outra
              organização, ou diretamente para você, sob certas condições.
            </p>

            <p>
              Se você fizer uma solicitação, temos um mês
              para responder. Se você deseja exercer algum desses direitos, entre em contato
              conosco.
            </p>

            <p>Informações para crianças</p>

            <p>
              Outra parte da prioridade da Betbrazil é
              adicionar proteção para crianças enquanto usam a internet. Incentivamos os pais
              e responsáveis ​​a observar, participar e/ou monitorar e orientar
              suas atividades online.
            </p>
            <p>
              A Betbrazil não coleta intencionalmente nenhuma
              informação de identificação pessoal de crianças menores de 18 anos. Se você
              acha que seu filho forneceu esse tipo de informação em nosso site, recomendamos
              que você entre em contato conosco imediatamente e faremos nossos melhores
              esforços para remover imediatamente tais informações de nossos registros.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

