<app-navbar></app-navbar>
<div class="container mt-4 text-center">
  <h1 class="text-uppercase">Saques Via PIX</h1>
  <div class="card">
    <div class="card-body">
      <div class="row text-start">
        <div class="text-center lh-1">
          <h5>LUCRO</h5>
          <h1>{{(!user.carteira ? 0 : user.carteira.saldoAtual) | currency:'BRL'}}</h1>
          <p>Valor mínimo para saque é de {{valorMinimoSaque | currency:'BRL'}}</p>
          <div class="text-center mt-3" *ngIf="!viewForm">
            <button class="btn button-small ms-3 mb-3" (click)="viewForm = !viewForm" >Solicitar Saque</button>
          </div>
        </div>
        <ng-container *ngIf="viewForm">
          <form [formGroup]="form">
            <hr class="mb-3">
            <p>Informe o valor que deseja sacar.</p>
            <div class="d-flex">
              <div class="input-group mb-3">
                <span class="input-group-text">R$</span>
                <input type="number" formControlName="valor" [ngClass]="validaCSS(f.valor)" class="form-control" aria-label="Total (Somente em Reais)">
                <input type="hidden" formControlName="saldo" class="form-control">
                <span class="input-group-text">,00</span>
                <div *ngIf="f.valor.errors?.required && f.valor.touched" class="invalid-feedback text-start">Valor é obrigatório</div>
                <div *ngIf="f.valor.errors?.min" class="invalid-feedback text-start">Valor inferior ao mínimo permitido</div>
                <div *ngIf="f.valor.errors?.max" class="invalid-feedback text-start">Valor superior ao máximo permitido</div>
                <div *ngIf="f.valor.errors?.withoutBalance" class="invalid-feedback text-start">Saldo insuficiente</div>
              </div>
              <div class="ms-2">
                <a class="d-flex btn" [ngClass]="{'disabled': !form.valid}" (click)="solicitarSaque()">
                  <i class="fa-solid fa-money-bill-transfer"></i>
                  <b class="ms-1">Sacar</b>
                </a>
              </div>
            </div>
            <div class="text-center mt-3">
              <button class="btn button-small ms-3 mb-3" (click)="viewForm = !viewForm" >Cancelar</button>
            </div>
          </form>
        </ng-container>

        <hr>
        <div class="mb-3 text-center">
          <label for="nome" class="form-label text-white fw-bold">Histórico Saques</label>
          <table class="table text-start">
            <thead>
              <tr>
                <th>Valor</th>
                <th>Status</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody *ngIf="user && user.saques?.length" class="table-group-divider">
              <tr *ngFor="let saque of user.saques">
                <td>{{saque.valor | currency:'BRL'}}</td>
                <td>{{saque.status}}</td>
                <td>{{saque.dataCadastro | DateTimeFormat}}</td>
              </tr>
            </tbody>
            <tfoot *ngIf="user && !user.saques?.length">
              <tr>
                <td colspan="3" class="text-white text-center"><h6>Nenhum Registro</h6></td>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>
  </div>
  <p >
    <small class="text-white fw-bold">As solicitações de saques passam por uma verificação de segurança, e pode demorar até 72 horas para serem confirmadas. É cobrado uma taxa de cambio de R$ 5,00 por saque.</small>
  </p>
</div>
