li {
  padding: 16px;
  line-height: 0;
  vertical-align: middle;
  color: #6a1b9a!important;
  transition: .5s;
}

li:hover {
  background-color: rgba(236, 233, 233, 0.664);
}

li > i {
  font-size: 18px;
}

li > a {
  font-size: .875rem;
  font-weight: 500;
}

