li {
  padding: 16px;
  line-height: 1;
  vertical-align: middle;
  color: #943bea!important;
  transition: .5s;
}

li:hover {
  background-color: rgba(236, 233, 233, 0.664);
}

li {

  i {
    color: #943bea!important;
    font-size: 20px;
  }
  a {
    font-size: .875rem;
    //font-weight: 500;
  }
}
