<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm" *ngIf="showMenu()">
  <div class="container">
    <a class="navbar-brand" routerLink="home"><img width="90px" src="assets/img/logo.png" alt=""></a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item text-center">
          <a class="nav-link active" aria-current="page" routerLink="home" style="cursor: pointer;">
            <div>
              <i class="fa-solid fa-house"></i>
              <p  class="mb-0">Home</p>
            </div>
          </a>
        </li>
        <li *ngIf="verificaRole('Admin')" class="nav-item text-center">
          <a class="nav-link" routerLink="cadastros" style="cursor: pointer;">
            <div>
              <i class="fa-solid fa-address-card"></i>
              <p class="mb-0">Cadastros</p>
            </div>
          </a>
        </li>
        <li *ngIf="verificaRole('Admin')" class="nav-item text-center">
          <a class="nav-link" routerLink="/depositos" style="cursor: pointer;">
            <div>
              <i class="fa-solid fa-hand-holding-dollar"></i>
              <p  class="mb-0">Depositos</p>
            </div>
          </a>
        </li>
        <li *ngIf="verificaRole('Admin')" class="nav-item text-center">
          <a class="nav-link" routerLink="afiliados" style="cursor: pointer;">
            <div>
              <i class="fa-solid fa-users"></i>
              <p  class="mb-0">Afiliados</p>
            </div>
          </a>
        </li>
        <li *ngIf="verificaRole('Admin')" class="nav-item text-center">
          <a class="nav-link" routerLink="configuracao" style="cursor: pointer;">
            <div>
              <i class="fa-solid fa-gear"></i>
              <p  class="mb-0">Config</p>
            </div>
          </a>
        </li>
      </ul>
      <!-- <div *ngIf="(accountService.currentUser$ | async) === null" class="navbar-nav ms-3 d-xs-none d-none d-md-block">
        <a class="btn btn-light" href="">Entrar</a>
        <a class="btn btn-warning" href=""></a>
      </div> -->
      <ul class="navbar-nav" *ngIf="(accountService.user) !== null">
        <li class="nav-item dropdown" dropdown container="body" *ngIf="(accountService.user) as user">
          <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="cursor: pointer;" >
            {{user.email}}
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/perfil">
              Perfil
            </a>
            <div role="separator" class="divider"></div>
            <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">
              Sair
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
